.wana {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-image: url(../Data//img3.jpg);
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center;
}
.wana::before {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  background: #4455db;
  opacity: 0.9;
}
.content {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0 !important;
}
.content .head {
  flex: 0 1 40%;
}
.content h2 {
  font-size: 30px;
  margin-bottom: 0.5rem;
  color: #fff;
}
.content p {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 15px;
  line-height: 1.5;
}

.content .link a {
  font-size: 12px;
  padding: 17px 23.5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid white;
  color: #4455db;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.content .link a:hover {
  background: transparent;
  color: #fff;
}

@media (max-width: 991px) {
  .content .link {
    display: flex;
    align-items: center;
  }
}
