.feature_services {
  padding: 4rem 0;
}
.feature_services .head {
  text-align: center;
  margin: auto;
  vertical-align: middle;
  width: 40%;
  margin-bottom: 3rem;
}
.feature_services .head h1 {
  font-size: 30px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #306ee8;
}
.feature_services .head p {
  font-size: 15px;
  margin-bottom: 1rem;
  color: #8e969b;
  line-height: 1.5;
}
.feature_services .app_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.feature_services .app_services article .icon {
  font-size: 50px;
  color: #306ee8;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}
.feature_services .app_services article {
  padding: 40px;
  background: #fff;
  text-align: center;
}
.feature_services .app_services article h3 {
  font-size: 18px;
  margin-bottom: 0.5rem;
  font-weight: normal;
  color: #000;
}
.feature_services .app_services article p {
  font-size: 15px;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  color: #848d92;
}
.feature_services .app_services article p {
  font-size: 15px;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  color: #848d92;
}
.feature_services .app_services article a {
  padding: 10px 23.5px;
  background: transparent;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #306ee8;
  border-radius: 4px;
  color: #306ee8;
  font-weight: bold;
  transition: all 0.5s ease;
}
.feature_services .app_services article a:hover {
  background: #306ee8;
  color: #fff;
}

@media (max-width: 991px) {
  .feature_services .app_services {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature_services .head {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .feature_services .app_services {
    grid-template-columns: repeat(1, 1fr);
  }
}
